.container {
    max-width: 900px;
    font-size: 20px;
    margin: 10px 5px;
}

.h1 {
    font-size: 30px;
    color: #1f1e1e;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 10px;
}

.input {
    background: #e5e4e4;
    border-radius: 15px;
    font-size: 18px;
    overflow: hidden;
    transition: all 0.2s;
    border: 2px solid transparent;
    padding: 8px 12px;
    margin-bottom: 7px;
    color: #211f1f;
    width: 100%;
}

.input:focus {
    outline: none;
    border-color: #3fb7fa;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
